$lightGreen: #b9e7e7;

.app {
  .container {
    //login
    // register
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;
      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: white;
        width: 200px;
        gap: 20px;
        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid teal;
        }
        button {
          padding: 10px;
          padding: none;
          background-color: teal;
          border: none;
          cursor: pointer;
          color: white;
          font-size: large;
        }
        p {
          text-align: center;
          color: red;
        }
        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}
